#nav {
    background-color: #8AAAE5;
    /*background-color: #328eb2*/
}
#app {
    background-color: #E4E4E4 ;
}
#footer {
    padding: 10px;
    background-color: #8AAAE5;
    color: #fffffd;
}

.btn {
    margin-left: 3px;
    margin-right: 3px;
}

div.btn a {
    color: #fff;
}

